.inDevelopment{
    &__container{
        height: 45vh;
    }
    &__image{
        width: 80vh;
        height: 80vh;
        margin: 2em auto;
    }
    &__text{
        text-align: center;
        align-self: center;
        margin-top:5rem;
    }
}