@import './variables';

.color{
    color: $primary-color;
    &__rgb{
        animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
    }
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

.link{
    color: $primary-color;
    &__button{
        border: 2px solid $primary-color;
        box-shadow: 1px 1px 2px #000000;
        border-radius: 16px;
        text-decoration: none;
        font-weight: 500;
        padding: 0.5em 1.5em 0.6em 1.5em;
    }
    &__conversion{
        margin: 3.25em 8vw 2em 2em;
        display: block;
        width: fit-content;
    }
    &__tabs{
        color: $secondary-color;
        font-weight: 700;
        text-decoration: none;
        position: relative;
        display: flex;
        flex-direction: row;
        margin: 2.75em 2em 2em 2em;
    }
    &__tabs::after{ 
        content: "";
        position: absolute;
        background-color: $primary-color;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
    }
    &__tabs:hover::after{
        width: 100%;
    }
}

.title{
    color: $primary-color;
    font: 700;
    align-items: center;
    align-self: center;
}

.separator{
    width: 25%;
    color: $primary-color;
    border: 1px solid $primary-color;
    margin-top: 10em;
}