.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
    &__tabs{
        margin: 1em 2em;
    }
    &__logo{
        margin: 1em 2em 1em 8vw;
    }
}

@media only screen and (max-width: 768px) {
    .container__tabs{
        display: none;
    }
}