@import '../../styles/_variables.scss';
@import '../../styles/Theme.module.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    
    &__tabs{
        margin: 1em 2em;
    }
    &__logo{
        margin: 1em 2em 1em 8vw;
    }
}

.title{
    color: $primary-color;
    font: 700;
    align-items: center;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    .container__tabs{
        display: none;
    }
    .link{
        display: none;
    }
    .title{
        display: none;
    }
}